nav{
    display:flex;
    background:white;
    padding: 10px 0px;
    margin: 5px 20px; 
    font-size:30px;
    color: rgba(104, 8, 173, 0.712);
    border-radius: 30px;
    text-decoration:none;
    margin-bottom: 2%;
    box-shadow: 0 8px 10px rgb(136, 62, 179);
}
ul {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;

}
p{
    display: flex;
    font-size: 40px;

}

body{
    background:rgba(224, 181, 255, 0.562);
}

#img-1{
    display: flex;
    border-radius: 10px;
    margin-top: 30x;
    width: 800px;
    margin: auto;
    margin: center


}

#img-2{
    display: flex;
    border-radius: 10px;
    margin-top: 30x;
    width: 800px;
    margin: auto;

}
#img-3{
    display: flex;
    border-radius: 10px;
    margin-top: 30x;
    width: 400px;
    margin: auto;


}
#img-4{
 
    border-radius: 10px;
 

}

div{
    border: 3px dashed rgba(153, 0, 255, 0.76);
    padding: 3%;
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    
}

#p2 {
    display: flex;
    font-size: 20px;


}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-center: 50px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  table {
    margin: auto;
  }
  #cont {
    text-align: center;
  }
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;    
  }

  #contato{
    text-align: center;
  }

  

  #inicial{
       background-color: rgba(133, 30, 207, 0.473);
       color: branco;
       text-align:centro;
       padding:10px 0;
       text-align: center;
       font-family: 'poetsen one', sans-serif;
       text-decoration: none;
       display: block;
      border: solid;
      width: max-content;
      padding: 2px;
      color: blueviolet;
      border-radius: 25px;
      border-radius:15px ;
      background-color: blueviolet;
      font-size: 20px;
      margin: auto;

  }

  #lista_series {
    width: fit-content;
    font-size: 40px;
   

  }

  
