:root {
    --cor1: #222;
    --cor2: #333;
}
background-color: var(--cor1);
h1 {
     color:black

}

h1 {
    color:black

}

body {
    background-color: burlywood;
}

h1 {
    font-size: 30px;
    font-style: Arial(sans-serif);
    text-align:center;
    


}

p {
    font-size: 30px;
    font-style: Arial(sans-serif);
    text-align: center;
    border-radius: 30px;
   

    
}
h2{
    font-size: 30px;
    font-style: Arial(sans-serif);
    text-align:center;
    

}
ol {
    font-size: 20px;
    font-style: Arial(sans-serif);
    text-align: center;
    border-radius: 30px;
    border-color:black;
    border-style: dotted;
   
}

#img1  {
    width: 500px;
    display: block;
    margin: auto;
    
}

#img2 {
    width: 300px;
    display: block;
    margin-top: 300;
    
    
    
}

#img3 {
    width: 500px;
    display: block;
    margin-top: 300;
    
    
}
#img4{
    width: 500px;
    display: block;
    margin-top: 300;
    
    
}
#img5{
    width: 300px;
    display: block;
    margin-top: 300;
    
    
}

#img6{
    width: 500px;
    display: block;
    margin: auto;

}

li{font-size: 30px;
    font-style: Arial(sans-serif);
    text-decoration-line: initial;
    border-radius: 30px;
    
}

div {
    border: 2px solid;
    margin: 30px;
}

header{
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 00px;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 8px  rgba(128, 68, 0, 0.808);
    background-color:  rgba(128, 68, 0, 0.966);
}

#primeiro{
    font-size: 30px;
    font-style: Arial(sans-serif);
    text-align: center;
    border-radius: 60px;
    margin-top: 100px;
}

#p2{
    font-size: 30px;
    font-style: Arial(sans-serif);
    text-align: center;
    border-radius: 60px;

}

#imgd{
    width: 100px;
    display: block;
    margin: auto;

}

#primeiro {
    margin-top: 100px;
}

#footer {
    font-size: 30px;
    font-style: Arial(sans-serif);
    text-align: center;
    border-radius: 60px;

}
.div-cards {
    border: 40px solid rgb(160, 136, 0);
    display: flex;
    flex-wrap: wrap;

}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }